* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

body {
  height: 100vh;
  font-family: Robato, sans-serif;
  font-weight: 400;
  color: #fff;
  background-color: #b2cef3;
  background: url('https://help.apple.com/macOS/high-sierra/whats-new/Art/0101_intro-hero.jpg') no-repeat, linear-gradient(to bottom, #b2cef3 0%, #e9f0fa 90%);
  background-size: cover;
  background-repeat: no-repeat;
}

.calculator {
  width: 484px;
  min-height: 669px;
  margin: 50px auto;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 5px 5px 20px 1px #222;
  transform: scale(0.8);
}

.output {
  width: 100%;
  min-height: 170px;
  background-color: rgba(43, 45, 47, 0.0);
}

.output:hover {
  background-color: rgba(43, 45, 47, 0.05);
}

.output input {
  width: 404px;
  float: right;
  margin-top: 58px;
  margin-right: 36px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
  text-overflow: clip;
}

.output input[value] {
  color: #FFF;
  text-align: right;
  font-size: 76px;
}

.input {
  width: 100%;
  padding-left: 1.5px;
  background-color: rgba(29, 32, 35, 0.4);
}

button {
  margin: 1.5px -0.2px;
  border: none;
  width: 117.6px;
  height: 97.6px;
  font-size: 45px;
  outline: none;
  color: #fff;
  background-color: rgb(95, 96, 98);
  cursor: pointer;
}

button:nth-child(4n) {
  background-color: orange;
}

button:last-child {
  background-color: orange;
}

button:nth-child(1) {
  background-color: rgb(63, 65, 67);
}

button:hover {
  opacity: 0.9;
}

.active-operation {
  outline: 2px solid #f40;
}

footer {
  width: 258px;
  margin: 0 auto 10px;
}

footer  img {
  width: 50px;
  margin-left: 5px;
  margin-right: 5px;
}

footer a:hover {
  text-decoration: none;
  color: #4af;
}

.git {
  width: 20px;
}
